<div class="col-sm-4 col-sm-offset-4 well">
  <div class="page-header nomartop text-center"><b>Signup Form</b></div>
  <form [formGroup]="myform" novalidate (ngSubmit)="onSubmit()">
    <!-- <fieldset formGroupName="name"> -->
    <!-- <div class="col-sm-12 form-group" [ngClass]="{
        'has-danger': myform.controls.name.controls.firstName.invalid && myform
      .controls.name.controls.firstName.dirty,
        'has-success': myform.controls.name.controls.firstName.valid && myform
      .controls.name.controls.firstName.dirty
      }">  or we can write following way also-->
      <div class="col-sm-12 form-group" [ngClass]="{
          'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
          'has-success': firstName.valid && (firstName.dirty || firstName.touched)
        }">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName"/>
      <div class="form-control-feedback col-sm-12"
        *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
        <p *ngIf="firstName.errors.required">First Name is required</p>
        </div>
    </div>

    <div class="col-sm-12 form-group" [ngClass]="{
        'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
        'has-success': lastName.valid && (lastName.dirty || lastName.touched)
      }">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName"/>
        <div class="form-control-feedback col-sm-12"
          *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
          <p *ngIf="lastName.errors.required">Last Name is required</p>
        <p *ngIf="lastName.errors.lastNameValid">Last name should be only patil</p>
          </div>
      </div>
    <!-- </fieldset> -->

      <div class="col-sm-12 form-group" [ngClass]="{
          'has-danger': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)
          }">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email" [ngModel]="outerCounterValue" required/>
          <div class="form-control-feedback col-sm-12"
            *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">Email is required</p>
          <p *ngIf="email.errors.emailDomain">Email must be on the codecraft.tv domain</p>
          <!--   <p *ngIf="email.errors.pattern">The email address must contain at least the @ -->
          <!-- character</p> -->
            </div>
          
        </div>

        <div class="col-sm-12 form-group" [ngClass]="{
            'has-danger': password.invalid && (password.dirty || password.touched),
            'has-success': password.valid && (password.dirty || password.touched)
            }">
            <label>Password</label>
            <input type="text" class="form-control" formControlName="password" required>
            <div class="form-control-feedback col-sm-12" *ngIf="password.errors && (password.dirty ||
            password.touched)">
              <p *ngIf="password.errors.required">Password is required</p>
              <p *ngIf="password.errors.minlength"><span>Password must be 8 characters long</span></p>
            <!-- <p *ngIf="password.errors.minlength"><span>Password must be 8 characters long, we need
                another {{password.errors.minlength.requiredLength -
                password.errors.minlength.actualLength}} characters</span> </p> -->
                
            </div>
            
          </div>

          <div class="col-sm-12 form-group" [ngClass]="{
              'has-danger': rating.invalid && (rating.dirty || rating.touched),
              'has-success': rating.valid && (rating.dirty || rating.touched)
            }">
          <label>Ratings</label>
          <input type="text" class="form-control" formControlName="rating"/>
          <div class="form-control-feedback col-sm-12"
            *ngIf="rating.errors && (rating.dirty || rating.touched)">
            <p *ngIf="rating.errors.required">Rating is required</p>
            </div>
        </div>

    <div class="col-sm-12 form-group" [ngClass]="{
        'has-danger': language.invalid && (language.dirty || language.touched),
        'has-success': language.valid && (language.dirty || language.touched)
        }">
      <label>Language</label>
        <select class="form-control" formControlName="language">
            <option value="">Please select a language</option>
            <option *ngFor="let lang of langs" [value]="lang">
              {{lang}}
            </option>  
        </select>
    </div>
    <div class="col-sm-12 form-group text-center">
    <button type="submit" class="btn btn-primary" [disabled]="myform.invalid">Submit</button>
    </div>
    <!-- [disabled]="myform.invalid" <pre>{{myform.value | json}}</pre> -->
  </form>
</div>
